{% extends 'app/base.html' %}

{% load static %}

{% block title %}
    Start Page
{% endblock %}

{% block content %}

    <h1>Author List</h1>
<div class="div_author">
    {% for author in author_list %}
        <p>{{ author.first_name }}</p>
        <p><a href="{% url 'author_detail' author.slug %}">detail</a>
           <a href="{% url 'update_author' author.slug %}">Update</a>
           <a href="{% url 'delete_author' author.slug %}">Delete</a>
        </p>
    {% endfor %}
</div>
    <br>
    <p class="p"><a href="{% url 'start_page' %}">back</a></p>

{% endblock content %}